<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>Pesti Vibe</title>
    <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
    <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
    <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
    <link rel='manifest' href='/site.webmanifest' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='Cache-Control' content='no-cache, no-store, must-revalidate' />
    <meta http-equiv='Pragma' content='no-cache' />
    <meta http-equiv='Expires' content='0' />
    <link rel='stylesheet' href='styles/normalize.css?r={{fileHashes.client_styles_normalize_css}}' />
    <link rel='stylesheet' href='styles/variables.css?r={{fileHashes.client_styles_variables_css}}' />
    <link rel='stylesheet' href='styles/loader.css?r={{fileHashes.client_styles_loader_css}}' />
    <link rel='stylesheet' href='styles/main.css?r={{fileHashes.client_styles_main_css}}' />
    <link rel='stylesheet' href='styles/top.css?r={{fileHashes.client_styles_top_css}}' />
    <link rel='stylesheet' href='styles/events.css?r={{fileHashes.client_styles_events_css}}' />
    <link rel='stylesheet' href='styles/modal.css?r={{fileHashes.client_styles_modal_css}}' />
    <script type='text/javascript'>window.pv = { meta: {{{meta}}}, templates: {}, config: {{{config}}} }</script>
    <script src='scripts/vendor/lodash.4.17.21.min.js'></script>
    <script src='scripts/vendor/dayjs.1.11.7.min.js'></script>
    <script src='scripts/utils.log.js?r={{fileHashes.client_scripts_utils_log_js}}'></script>
    <script src='scripts/utils.storage.js?r={{fileHashes.client_scripts_utils_storage_js}}'></script>
    <script src='scripts/utils.url.js?r={{fileHashes.client_scripts_utils_url_js}}'></script>
    <script src='scripts/utils.dom.js?r={{fileHashes.client_scripts_utils_dom_js}}'></script>
    <script src='scripts/utils.i18n.js?r={{fileHashes.client_scripts_utils_i18n_js}}'></script>
    <script src='scripts/utils.resource.js?r={{fileHashes.client_scripts_utils_resource_js}}'></script>
    <script src='scripts/utils.date.js?r={{fileHashes.client_scripts_utils_date_js}}'></script>
    <script src='scripts/utils.clipboard.js?r={{fileHashes.client_scripts_utils_clipboard_js}}'></script>
    <script src='scripts/modules.events.js?r={{fileHashes.client_scripts_modules_events_js}}'></script>
    <script src='scripts/modules.controls.js?r={{fileHashes.client_scripts_modules_controls_js}}'></script>
  </head>
  <body>
    <div class='page-content'>
      <div class='top-controls'>
        <div class='top-controls-flex-row'>
          <h1 class='flex-child logo-wrapper'>
            <a href='/' class='js-home-link'>
              <img src='images/logo.png' alt='Pesti Vibe' class='logo' />
            </a>
          </h1>
          <div class='flex-child search-input-wrapper'>
            <input placeholder='kereső' type='text' class='search-input js-search-input' style='display:none' />
          </div>
          <div class='flex-child top-right-buttons'>
            <div class='share-url'>
              <button class='js-share-button' title='share search' aria-label='share search url'>
                {{{require file='images/share.svg'}}}
              </button>
              <div class='share-dialog js-share-dialog' style='display:none'>
                <label for='share-url-textarea'>A keresés url-je:</label>
                <textarea id='share-url-textarea' class='js-share-url-textarea' readonly></textarea>
                <div class='action-buttons'>
                  <button
                    class='js-copy-url-to-clipboard'
                    title='copy to clipboard'
                    aria-label='copy url to clipboard'
                  >{{{require file='images/clipboard.svg'}}}</button>
                </div>
              </div>
            </div>
            <div class='theme-switcher'>
              <button class='js-theme-button-light' title='light theme' aria-label='select light theme'>
                {{{require file='images/sun.svg'}}}
              </button>
              <button class='js-theme-button-dark' title='dark theme' aria-label='select dark theme'>
                {{{require file='images/moon.svg'}}}
              </button>
            </div>
          </div>
        </div>
        <div class='top-controls-row'>
          <div class='js-clickable-tag-filter tag-filter'></div>
        </div>
        <div class='top-controls-row'>
          <div class='js-clickable-dates date-filter'>
            <div class='calendar-icon'>
              {{{require file='images/calendar.svg'}}}
            </div>
            <div class='calendar-buttons'>
              <button class='date js-mod-date' data-value='today'>ma</button>
              <button class='date js-mod-date' data-value='tomorrow'>holnap</button>
              <button class='date js-mod-date' data-value='weekend'>hétvégén</button>
              <button class='date js-mod-date' data-value='this-week'>egész héten</button>
              <button class='date js-mod-date' data-value='next-week'>jövő héten</button>
              <button class='date js-mod-date' data-value='reset'>bármikor</button>
            </div>
          </div>
        </div>
      </div>
      <div class='js-event-count event-count' style='display:none'></div>
      {{! EVENTS TABLE {{{ }}
      {{#if hasEvents}}
        <div class='events-table'>
          {{#each events}}
            <div
              id='event-{{this.rowIdx}}'
              class='events-table-row js-event js-clickable-row {{showif this.soldOut "sold-out"}}'
              tabindex='0'
            >
              <a href='./{{this.dataUri}}' class='js-event-name js-event-details-opener hidden'>{{this.name}}</a>
              <div class='event-name'>
                <span>{{this.name}}</span>
              </div>
              <div class='event-merged-section'>
                <div class='event-genres-tags event-merge-section-col js-event-genres-tags-merged'>
                  {{#if this.genre}}
                    <span
                      class='genre genre-or-tag js-event-genre'
                      data-value='{{this.genre}}'
                      style='color:{{this.genreColor}};background-color:{{this.genreColorBg}}'
                    >
                      {{this.genre}}
                    </span>
                  {{/if}}
                  {{#if this.tags}}
                    {{#each this.tags}}
                      <span class='tag genre-or-tag js-event-tag' data-value='{{this}}'>
                        {{this}}
                      </span>
                    {{/each}}
                  {{/if}}
                </div>
                <div
                  class='event-merge-section-col event-date js-event-date'
                  data-date='{{this.startDateTimeNumber}}'
                >{{this.startDateTimeFormatted}}</div>
                <div class='event-place event-merge-section-col'><span
                    href='{{this.place.fbEventUrl}}'
                    target='_blank'
                    id='event-place-{{this.place.rowIdx}}'
                    class='js-event-place-name'
                  >{{this.place.name}}</span></div>
              </div>
            </div>
          {{/each}}
        </div>
      {{/if}}
      <p class='no-events-message js-no-events-message' style='display:none'>
        Nincsenek új események.
      </p>
      <div class='js-modal modal'>
        <div class='modal-cover-layer js-modal-cover-layer'></div>
        <div class='modal-content'>
          <div class='modal-header'>
            <button class='modal-close js-modal-close' title='close' aria-label='close details'>
              {{{require file='images/iconFeatherXCircle.svg'}}}
            </button>
          </div>
          <div class='modal-inner-content js-modal-content'>
            {{! content }}
          </div>
        </div>
      </div>
    </div>
    {{!-- }}} EVENTS TABLE --}}
    <script src='scripts/main.js?r={{fileHashes.client_scripts_main_js}}'></script>
    {{{templatize file='modal'}}}
  </body>
</html>